*

!.git*
!README

!.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

!.editorconfig

!mitogen

!playbook-parts/
!playbook-parts/**/
!playbook-parts/**/*.yaml

!main.yaml
!ansible.cfg
